
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="~/Content/js/HighCharts/highchartsCtrl.js"></script>

<div ng-app="myApp" ng-controller="HighChartsCtrl">
    @*<input type="text"  autocomplete="off" ng-model="tungay_Weekly" id="tungay_Weekly" placeholder="Từ ngày" class="date input-form form-control datetimepickerKT">*@
    @*<script>
            $("#tungay_Weekly").datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                }
            );
    </script>*@
    <figure class="highcharts-figure">
        <div id="container" ></div>
    </figure>
</div>



